- 
	const PROJECTS = [
		{
			title: 'Cryptoverse',
			info: 'Cryptocurrency app show the currencies list with it\'s status, market and exchanges also latest news and articles', 
			img: 'images/projects/bg-project-cryptoverse.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/cryptoverse',
			liveLink: 'https://cryptoverse-in-react.vercel.app/',
			tags: ['react', 'tailwindcss', 'ant.design', 'typescript', 'redux'],
			filter: 'react-project'
		},
		{
			title: 'Driller',
			info: 'Start using typescript for building react website, support i18n for multiple languages translation and also support rtl alignment', 
			img: 'images/projects/bg-project-driller.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/driller',
			liveLink: 'https://driller.vercel.app/',
			tags: ['react', 'bootstrap', 'typescript', 'sass'],
			filter: 'react-project'
		},
		{
			title: 'shareme',
			info: 'Image Sharing Social Media App, build using sanity api with extra new packages like react-masonry-css', 
			img: 'images/projects/bg-project-shareme.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/shareme',
			liveLink: 'https://shareme-psi.vercel.app/',
			tags: ['react', 'tailwindcss', 'typescript'],
			filter: 'react-project'
		},
		{
			title: 'Tline',
			info: 'Time line for the CSS evolution and history of tooling, libraries, frameworks and so on', 
			img: 'images/projects/bg-project-tline.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/tline',
			liveLink: 'https://www.npmjs.com/package/tline',
			tags: ['react', 'npm', 'typescript'],
			filter: 'react-project'
		},
		{
			title: 'js-pmq',
			info: 'A simple NPM package to get popular movie quotes.', 
			img: 'images/projects/bg-project-js-pmq.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/js-pmq',
			liveLink: 'https://www.npmjs.com/package/js-pmq',
			tags: ['nodejs', 'npm', 'typescript'],
			filter: 'nodejs-project'
		},
		{
			title: 'Tube-Info',
			info: 'Node.js command line app for exporting video/playlist data from a YouTube to a JSON/CSV file with extra features.', 
			img: 'images/projects/bg-project-tube-info.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/tube-info',
			liveLink: 'https://www.npmjs.com/package/tube-info',
			tags: ['nodejs', 'npm'],
			filter: 'nodejs-project'
		},
		{
			title: 'SADAT.VIP',
			info: 'VIP = // [V]ery [I]mportant [P]rogrammer, Act like VIP & become a VIP ;)', 
			img: 'images/projects/bg-project-sadat.webp',
			liveLink: 'https://sadat.vip/',
			tags: ['bootstrap', 'sass', 'pug'],
			filter: 'other-project'
		},
		{
			title: 'Scandiweb',
			info: 'This task will put you face-to-face to some common tasks in the world of React development and possibly will get you acknowledged with a bit of new technologies.', 
			img: 'images/projects/bg-project-scandiweb.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/scandiweb-react-task',
			liveLink: 'https://scandiweb-task-react.vercel.app/',
			tags: ['react','bootstrap', 'sass', 'graphql'],
			filter: 'react-project'
		},
		{
			title: 'PaperCuts',
			info: 'First e-commerce website built with react, a lot of feature like order, events, wishlist ...etc, also use JWT &amp; express for authentication.', 
			img: 'images/projects/bg-project-paperCuts.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/paperCuts',
			liveLink: 'https://papercuts.vercel.app/',
			tags: ['react', 'bootstrap', 'redux', 'sass'],
			filter: 'react-project'
		}, 
		{
			title: 'PaperCuts-server',
			info: 'Server for paperCuts created while learning MERN stack in order to replace Json-server package.', 
			img: 'images/projects/bg-project-paperCuts-server.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/paperCuts-server',
			liveLink: 'https://papercuts-server.onrender.com/',
			tags: ['nodejs', 'express', 'mongodb', 'jwt'],
			filter: 'nodejs-project'
		},
		{
			title: 'Gutenberry',
			info: 'More than expect effort needed, as use hard code html, css and js to build it at end so start to learn framework', 
			img: 'images/projects/bg-project-gutenberry.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/Gutenberry',
			liveLink: 'https://mohammed-taysser.github.io/Gutenberry/',
			tags: ['bootstrap', 'gulp', 'sass', 'pug'],
			filter: 'bootstrap-project'
		},
		{
			title: 'Vezeeta',
			info: 'It\'s a new era of design with the power of backend, this design had been build especially for back end.', 
			img: 'images/projects/bg-project-vezeeta.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/vezeeta',
			liveLink: 'https://mohammed-taysser.github.io/vezeeta/',
			tags: ['bootstrap', 'gulp', 'sass', 'pug'],
			filter: 'bootstrap-project'
		},
		{
			title: 'DJ-Music',
			info: 'More than expect effort needed, as use hard code html, css and js to build it at end so start to learn framework', 
			img: 'images/projects/bg-project-dj-music.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/DJ-Music',
			liveLink: 'https://mohammed-taysser.github.io/DJ-Music/',
			tags: ['bootstrap', 'gulp', 'sass', 'pug'],
			filter: 'bootstrap-project'
		},
		{
			title: 'TECHMAG',
			info: 'More than expect effort needed, as use hard code html, css and js to build it at end so start to learn framework', 
			img: 'images/projects/bg-project-techmag.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/TECHMAG',
			liveLink: 'https://mohammed-taysser.github.io/TECHMAG/',
			tags: ['bootstrap'],
			filter: 'bootstrap-project'
		},
		{
			title: 'YASSEN',
			info: 'Different lookup to html page with powerful services counter that count on scroll and reach the section.', 
			img: 'images/projects/bg-project-yassen.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/YASSEN',
			liveLink: 'https://mohammed-taysser.github.io/YASSEN/',
			tags: ['bootstrap'],
			filter: 'bootstrap-project'
		},
		{
			title: 'ATOM',
			info: 'Use vanilla JavaScript to apply functionality like model, custom bootstrap, animation and side menu.', 
			img: 'images/projects/bg-project-atom.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/ATOM',
			liveLink: 'https://mohammed-taysser.github.io/ATOM/',
			tags: ['bootstrap', 'gulp', 'sass', 'pug'],
			filter: 'bootstrap-project'
		},
		{
			title: 'AXIT',
			info: 'It\'s a learn project with el-zero using html, css, JavaScript.', 
			img: 'images/projects/bg-project-axit.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/AXIT',
			liveLink: 'https://mohammed-taysser.github.io/AXIT/',
			tags: ['bootstrap'],
			filter: 'bootstrap-project'
		},
		{
			title: 'Elite Corp',
			info: 'Use vanilla JavaScript to apply functionality like model, custom bootstrap, animation and side menu.', 
			img: 'images/projects/bg-project-elite-corp.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/elite-corp',
			liveLink: 'https://mohammed-taysser.github.io/elite-corp/',
			tags: ['bootstrap'],
			filter: 'bootstrap-project'
		},
		{
			title: 'GooG',
			info: 'With the ability to search for up-to-date results, news, images, and videos, modern UI, dark mode, this completely responsive Google Clone is the perfect project you can build to master the use of modern React.js. ', 
			img: 'images/projects/bg-project-goog.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/goog',
			liveLink: 'https://goog-search.vercel.app/',
			tags: ['react', 'bulma', 'sass'],
			filter: 'react-project'
		},
		{
			title: 'Expense Tracker',
			info: 'We are going to build a Complex Expense Budget Tracker. While building it, you\'re going to learn many advanced React & JavaScript topics.', 
			img: 'images/projects/bg-project-expense-traker.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/expense-tracker',
			liveLink: 'https://expense-tracker-seechly.vercel.app/',
			tags: ['react', 'redux', 'materialui', 'sass'],
			filter: 'react-project'
		},
		{
			title: 'Covid-19 Tracker',
			info: 'Build single page with chart & ability to view and virtualize data using chart.js, also see country confirmed & recovered and deaths status.', 
			img: 'images/projects/bg-project-covid-19-tracker.webp',
			githubLink: 'https://github.com/Mohammed-Taysser/covid-19-tracker',
			liveLink: 'https://react-covid19-tracker.vercel.app/',
			tags: ['react', 'bootstrap', 'sass'],
			filter: 'react-project'
		},
		]


section#projects.my-projects.py-5
	#js-mixitup-container-id.container.my-5
		h2.header-with-point.text-center(data-text='Projects') My Projects
		.my-5.pt-5
			.filter-buttons-container
				button.bg-underline.mx-2.fs-5(type='button' data-filter='all') All
				button.bg-underline.mx-2.fs-5(type='button' data-filter='.nodejs-project') Node.js
				button.bg-underline.mx-2.fs-5(type='button' data-filter='.react-project') React
				button.bg-underline.mx-2.fs-5(type='button' data-filter='.bootstrap-project') Bootstrap
				button.bg-underline.mx-2.fs-5(type='button' data-filter='.other-project') Other
			.row.justify-content-center.align-items-stretch.mt-5
				each project, index in PROJECTS
					div( class=`col-xg-3 col-lg-4 col-md-6 my-3 mix ${project.filter}` data-order=index)
						.single-item.nice-shadow
							.img
								img.img-fluid.rounded-top(src=project.img alt=project.title)
							.content.p-4.rounded
								a.item-title.my-3.fw-bold.bg-underline.h3(href=project.liveLink target='_blank' rel='noopener')=project.title
								+projectTags(project.tags)
								hr
								p.text-muted.my-4=project.info
								.my-3.d-flex.justify-content-between.align-content-center.align-items-center
									a.bubbly-btn(href=project.liveLink target='_blank' rel='noopeNer')
										| Live Demo
									if project.githubLink
										a.bg-underline.hovered(href=project.githubLink target='_blank' rel='noopener')
											| Github Link
